a.out

/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-970c152689e295aaa5d8.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b212e14d082a0ef05ea4.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c05c753c7271fabc0170.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-04T12-32-29-0712.json
/cmake-build-debug/.cmake/api/v1/reply/target-AstVisitor-Debug-5655dcde6fba8c7b14c8.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-afbbb7252e792929f9b7.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/.idea/.gitignore
/.idea/AstVisitor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
